{% extends 'base.html' %}

{% block titulo %}
<title>Lista dos Permissionarios</title>
{% endblock %}

{% block conteudo %}
<div>
    <h1>Lista dos Permissionários</h1>
    <ul>
        {% for permissionario in object_list %}
        <li>
            <a href="{% url 'permissionario-detail' permissionario.pk %}">{{permissionario.nome}}</a> 
            - <a href="{% url 'permissionario-update' permissionario.pk %}">Editar</a> - 
            <a href="{% url 'permissionario-delete' permissionario.pk %}">Excluir</a>
        </li>
        {% endfor %}
    </ul>   
</div>
{% endblock %}